# Copy this file to .env (e.g. cp .env-example .env) and make your changes there!

# Comma separated list of users. Can be either just usernames for the DEFAULT_MAILDOMAIN, or complete email addresses.
# This will also be the login name for the server
USERLIST='jane, john.doe, outsider@gmail.com'

# Default maildomain for users without complete emails. 
DEFAULT_MAILDOMAIN='your-school.fi'

# Mail subject
MAIL_SUBJECT='Your server is ready!'

# CSC Project Number
PROJECT='1234567'

# SSH Gateway IP
GATEWAY_ADDR='0.0.0.0'

# MAILER API URL
MAILER_URL='https://mailerapi.fi/?api_key=foobar'

# Create a key pair on pouta OpenStack, copy-and-paste the name here.
# This can be used to login on any of the generated servers (user ubuntu) for remote assistance or such.
SSH_KEYPAIR='my-ssh-key'